[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "external/shaderc"]
	path = external/shaderc
	url = https://github.com/google/shaderc
